In [ ]:
import pandas as pd

In [ ]:
data = pd.read_json('/Users/xuyinchuan/Desktop/Life_and_study/宾大相关/Courses/CIS550/HW/laureates.json')

In [ ]:
data

In [60]:
df = pd.DataFrame([[['review1','review2'], ['review1','review2','review3','review4']]], index=['review'],columns=['movie_id1', 'movie_id2'])
print(df)

                 movie_id1                             movie_id2
review  [review1, review2]  [review1, review2, review3, review4]

In [63]:
df.to_json()

'{"movie_id1":{"review":["review1","review2"]},"movie_id2":{"review":["review1","review2","review3","review4"]}}'

In [ ]:
# read url.txt
df_url = pd.read_csv('/Users/xuyinchuan/Desktop/MovieBook_Yinchuan/MovieDB/aclImdb/test/urls_pos.txt', header = None)

In [ ]:
df_url

In [52]:
# extract the imdbID
def extr(index, df_url):
    url = df_url.loc[index, 0]
    tt = url[26:].split('/')[0][2:]
    return int(tt.lstrip('0'))  # 不确定要不要int下

In [106]:
# read the movie.csv
movielen_movie_path = "/Users/xuyinchuan/Desktop/Movie_web_application/MovieBook/Datasets relation part/Movie.csv"
movie = pd.read_csv(movielen_movie_path, encoding='latin1')
movie = movie.iloc[:,0]
movie = set(movie)

In [115]:
list_of_column = []
for i in range(12500):
    imdbID = extr(i, df_url)
    # only add movies that is in movie.csv into list
    if imdbID in movie:
        list_of_column.append(imdbID)
list_of_column = sorted(list(set(list_of_column)))
print(list_of_column)

[9611, 10071, 12224, 12364, 15648, 17534, 19422, 20641, 20691, 20821, 21750, 22430, 22639, 24314, 24500, 24961, 25799, 27623, 27697, 29850, 30149, 32022, 32553, 32676, 32819, 33582, 33727, 34277, 34384, 34389, 35279, 35317, 35798, 36723, 37120, 37595, 37793, 38053, 39286, 39428, 39739, 41513, 42372, 42541, 43117, 44079, 44762, 45049, 46057, 46750, 46766, 46851, 46949, 47167, 48021, 48316, 48347, 48488, 48789, 49431, 49470, 50283, 50347, 50634, 50717, 51003, 51133, 51876, 51983, 52354, 52619, 52698, 52950, 53121, 53182, 53270, 62622, 62731, 62793, 62979, 63611, 64117, 64382, 64519, 64694, 64855, 64873, 64990, 65086, 65421, 65531, 65611, 65916, 66279, 66564, 66819, 67085, 67217, 67227, 67359, 67433, 67439, 67445, 67633, 69019, 69089, 69994, 70180, 70337, 70672, 70800, 70904, 71334, 71358, 71950, 72895, 73694, 73906, 74157, 75404, 76252, 76313, 77132, 77280, 77986, 78788, 78924, 78966, 79257, 79261, 79366, 79417, 79540, 79588, 80419, 80716, 80835, 80855, 81110, 81159, 81250, 81467, 81613, 82084, 82252, 82404, 82507, 82525, 82592, 82810, 82883, 82912, 82992, 83064, 83789, 83891, 84171, 84228, 84234, 84747, 84776, 84787, 85426, 85461, 86006, 86525, 86723, 87231, 87365, 87805, 88402, 88583, 88805, 89003, 89160, 89489, 89603, 90005, 90774, 91278, 91310, 91680, 91860, 92501, 92580, 92603, 92699, 92752, 92843, 92890, 93624, 93677, 94142, 94321, 94824, 94910, 94933, 95386, 95593, 96219, 96321, 96425, 97336, 97648, 97694, 98383, 99512, 99582, 100260, 100762, 100924, 101412, 101420, 101628, 102467, 103002, 103112, 103776, 103882, 104922, 104926, 105211, 105598, 106112, 106639, 106877, 107065, 107206, 107376, 107447, 107824, 107863, 107977, 108186, 108211, 108557, 109206, 109454, 109555, 109895, 109900, 109950, 110604, 110612, 110657, 110719, 110958, 111237, 111495, 112373, 112495, 112570, 112757, 112818, 113253, 113449, 113957, 113967, 114086, 114122, 114182, 114651, 114694, 114733, 115561, 115813, 116056, 116130, 116209, 116322, 116835, 116908, 117038, 118117, 118604, 118647, 118749, 119040, 119068, 119305, 119360, 119572, 119780, 119848, 120056, 120162, 120323, 120472, 120611, 120619, 120765, 120776, 120786, 120907, 122459, 124102, 124621, 124901, 125980, 134033, 138541, 143344, 143861, 144120, 144142, 145547, 149691, 151738, 152015, 153866, 154506, 156934, 159365, 159752, 162866, 164221, 166252, 166924, 167059, 171580, 177707, 178642, 181288, 182766, 187696, 188674, 189047, 195630, 195778, 202470, 203755, 209958, 210294, 212742, 216165, 218839, 218871, 219374, 219854, 221455, 233651, 238112, 238546, 238588, 239496, 244870, 246628, 246765, 249677, 250223, 251094, 253016, 264935, 265298, 272152, 275309, 276428, 283900, 284490, 286476, 291832, 296881, 298238, 298504, 301167, 301976, 303394, 304678, 307197, 310778, 312004, 312859, 312886, 316465, 317234, 317740, 324264, 338467, 339422, 342275, 342492, 342636, 343172, 345551, 346094, 349903, 350258, 351887, 361748, 361856, 362129, 362478, 365376, 365763, 365830, 369053, 369702, 370244, 373024, 379889, 380485, 383475, 384212, 384793, 385700, 386588, 387808, 388318, 388364, 388980, 391229, 395417, 395669, 397065, 397696, 398883, 401420, 404030, 406816, 407936, 411674, 417791, 419887, 423651, 430770, 433624, 437179, 439008, 439491, 443844, 445336, 446320, 446687, 447166, 448131, 449303, 453494, 454065, 454945, 455857, 455949, 459242, 460766, 462200, 462219, 464913, 465188, 468442, 468704, 470000, 472062, 472582, 473074, 483726, 493430, 762073, 783328, 790665, 804522, 805613, 808151, 808185, 816436, 819714, 827521, 827713, 876563, 902290, 913354, 930083, 956038, 963207, 990404]

In [152]:
df_review = pd.DataFrame([], index=['imdbID', 'review'],columns=list_of_column)

In [153]:
df_review

,9611,10071,12224,12364,15648,17534,19422,20641,20691,20821,...,819714,827521,827713,876563,902290,913354,930083,956038,963207,990404
imdbID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
review,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [154]:
for i in range(473):
    df_review.iloc[0, i] = list_of_column[i]
    df_review.iloc[1, i] = 1
    df_review.iloc[1, i] = []

In [155]:
df_review

,9611,10071,12224,12364,15648,17534,19422,20641,20691,20821,...,819714,827521,827713,876563,902290,913354,930083,956038,963207,990404
imdbID,9611,10071,12224,12364,15648,17534,19422,20641,20691,20821,...,819714,827521,827713,876563,902290,913354,930083,956038,963207,990404
review,[],[],[],[],[],[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],[]

In [156]:
all_rev_path = '/Users/xuyinchuan/Desktop/MovieBook_Yinchuan/MovieDB/aclImdb/test/pos'
for i in range(12500): #12500
    imdbID = extr(i, df_url)
    # only add movies that is in movie.csv into dataframe
    if imdbID in movie:
        file_name =all_rev_path + "/" + str(i) + 'f.txt'
        myfile = open(file_name,"r") 
        each_review = myfile.readlines()[0]
        # delete all / and " in this test to make sure the json is in the right format
        each_review.replace("/", "")
        each_review.replace("//", "")
        each_review.replace("\"", " ")
        df_review.loc['review', imdbID].append(each_review)

In [157]:
df_review

,9611,10071,12224,12364,15648,17534,19422,20641,20691,20821,...,819714,827521,827713,876563,902290,913354,930083,956038,963207,990404
imdbID,9611,10071,12224,12364,15648,17534,19422,20641,20691,20821,...,819714,827521,827713,876563,902290,913354,930083,956038,963207,990404
review,[This film was one of three that were later co...,"[""Don't Change Your Husband"" is another soap o...",[A BUSTER KEATON Silent Short.<br /><br />Poor...,[I thought it would be more fantastic a tale. ...,[Some users are confused about the identity of...,[Was struck at how even the acting was through...,['Steamboat Willie' is the first cartoon with ...,[i loved the great lighting and was warmed by ...,[044: The Big Trail (1930) - released 10/24/19...,[Ronald Coleman had been a star of the screen ...,...,"[This is a masterful piece of film-making, wit...","[When I first got wind of this picture, it was...",[I saw this black and white comedy noir yester...,"[I absolutely, positively loved the movie. I j...","[I saw 'I Smell the Dead' -- sorry, 'I SELL th...",[Watching the preview of Armored I thought the...,[Like a lot of horror fans out there that went...,[I saw this today with little background on wh...,[George Carlin is probably my favorite comedia...,"[This is marvelous movie, about a soul of Ale...."

In [169]:
for i in range(473):
    data = {}
    data["imdbID"] = df_review.iloc[0, i]
    data["review"] = df_review.iloc[1, i]
    with open('/Users/xuyinchuan/Desktop/MovieBook_Yinchuan/review.json', 'a') as json_file:
        json_file.write(json.dumps(data)+",\n")

In [143]:
# df_review.to_json('review.json') 不用pandas的写

In [144]:
data = pd.read_json('/Users/xuyinchuan/Desktop/MovieBook_Yinchuan/review.json')

In [ ]:
import json